.container {
  max-width: 1200px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 2rem;
  background-color: #f0f0f0;
  padding: 2rem;
}

.products {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;

  align-items: center;
}

.featuredProducts {
  flex: 1;
}

.newProducts {
  flex: 1;
}
